/* scroll */
::-moz-selection {
  background: #303030;
  color: #fff;
}
::selection {
  background: #303030;
  color: #fff;
}

::-moz-selection {
  background: #303030;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background: #303030;
}

::-webkit-scrollbar-thumb:window-inactive {
  box-shadow: inset 0 0 5px #303030;
  background: #303030;
}

/* end scroll */
/* font face */
@font-face {
  font-family: 'latob';
  src: url("../fonts/FiraSans-Medium.ttf");
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/FiraSans-Book.otf");
}

/* end font face */
body {
  font-family: lato;
}

a {
  text-decoration: none !important;
}

a:hover, a:focus {
  color: inherit;
  outline: none;
  text-decoration: none !important;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/* Helpers */
/* helper */
.bg-celeste {
  background-color: #80A98F;
}

.bg-amarillo {
  background-color: #ECC462;
}

.bg-violeta {
  background-color: #9074AD;
}

.bg-verde {
  background-color: #98B678;
}

.bg-naranja {
  background-color: #E0A169;
}

.color-blanco {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.center {
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .center-mobile {
    text-align: center;
  }
}

.text-bold {
  font-family: latob;
}

.border-top {
  border-top: 2px solid #e4e4e4;
}

.mayuscula {
  text-transform: uppercase;
}

.input_group {
  position: relative;
}

.input_group input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: 1px solid #000000;
  font-size: 1.2em;
  padding: 4px 40px;
  box-sizing: border-box;
}

.input_group span {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn {
  background-color: #C05E5F;
  color: #ffffff;
  border: none;
  min-width: 200px;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px #9e9e9e;
  outline: none;
  text-align: center;
  display: inline-block;
}

.titulo.border {
  border: 1px solid #fa8faf;
  padding: 5px 15px;
}

.titulo.border.eventos {
  border: 1px solid #FBC65A;
}

.titulo.border.mapa {
  border: 1px solid #99B778;
}

.titulo.border.pacto {
  border: 1px solid #7495C9;
}

.titulo.border.premio {
  border: 1px solid #C05E5F;
}

.titulo.organizacion {
  border: 1px solid #73b095;
  color: #73b095;
  padding: 5px 15px;
}

@media screen and (max-width: 630px) {
  .titulo {
    margin: 0 20px;
  }
}

.titulo span {
  width: 50px;
  height: 45px;
  display: inline-block;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

@media screen and (max-width: 630px) {
  .titulo span {
    width: 30px;
    height: 25px;
  }
}

.titulo h1,
.titulo h2 {
  display: inline-block;
  margin: 0;
  line-height: 45px;
  height: 45px;
  font-family: latob;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 15px;
}

@media screen and (max-width: 630px) {
  .titulo h1,
  .titulo h2 {
    height: 25px;
    font-size: 1.2em;
    line-height: 25px;
  }
}

.titulo h1.eventos,
.titulo h2.eventos {
  color: #FBC65A;
  letter-spacing: 2px;
}

.titulo h1.mapa,
.titulo h2.mapa {
  color: #99B778;
}

.titulo h1.pacto,
.titulo h2.pacto {
  color: #7495C9;
  font-family: lato;
}

.titulo h1.premio,
.titulo h2.premio {
  color: #C05E5F;
  font-family: lato;
}

/* fin helper */
.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.pl-0 {
  padding-left: 0;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* Fin Helpers */
.header_redes {
  margin: 20px 0;
}

.header_redes ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.header_redes ul li {
  display: inline-block;
  position: relative;
}

.header_redes ul li a {
  font-size: 1.6em;
  color: #000000;
  padding: 0 10px;
}

.header_redes ul li:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #000000;
}

.header_redes ul li:first-child:before {
  content: none;
}

.header_logo {
  display: inline-block;
  width: 100%;
}

.header_logo .logo-left,
.header_logo .logo-right {
  max-height: 70px;
  max-width: 250px;
}

.header_logo .logo-left img,
.header_logo .logo-right img {
  height: 70px;
}

.header_logo .logo-left {
  float: left;
}

.header_logo .logo-right {
  float: right;
}

.header_nav {
  margin-top: 20px;
}

.header_nav nav {
  background-color: #92c7cf;
  text-align: center;
}

.header_nav nav ul.list_menu {
  margin: 0;
  padding: 0;
}

.header_nav nav ul.list_menu li {
  display: inline-block;
  width: 18%;
  position: relative;
}

.header_nav nav ul.list_menu li a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: latob;
}

@media screen and (max-width: 991px) {
  .header_nav nav ul.list_menu li a {
    font-size: 1em;
  }
}

.header_nav nav ul.list_menu li ul.sub_list_menu {
  position: absolute;
  left: 0;
  top: 43px;
  padding: 0;
  display: none;
  background-color: #74ABB3;
  text-align: center;
  z-index: 40;
}

@media screen and (max-width: 991px) {
  .header_nav nav ul.list_menu li ul.sub_list_menu {
    top: 39px;
  }
}

.header_nav nav ul.list_menu li ul.sub_list_menu li {
  display: inline-table;
  width: 200px;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li a {
  text-transform: inherit;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 {
  width: 100%;
  top: 33px;
  left: 0;
  display: none;
  padding: 0;
  position: absolute;
  text-align: left;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 li {
  display: block;
  width: 100%;
  background-color: #74ABB3;
  padding-left: 15px;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 li a {
  font-size: 0.9em;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 li:hover {
  background-color: #92c7cf;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li:hover ul.sub_list_menu2 {
  display: block;
}

.header_nav nav ul.list_menu li ul.sub_list_menu li:hover {
  background-color: #92c7cf;
}

.header_nav nav ul.list_menu li:hover ul.sub_list_menu {
  display: block;
}

.header_nav nav ul.list_menu li:hover {
  background-color: #74ABB3;
}

@media screen and (max-width: 700px) {
  .header_redes,
  .header_nav {
    display: none;
  }
  .header_logo .logo-left img,
  .header_logo .logo-right img {
    height: 50px;
  }
  .header_logo {
    padding: 10px;
  }
  .header_btn_mobile {
    background-color: #92c7cf;
    padding: 15px;
  }
  .header_btn_mobile a.btn_mobile {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: latob;
    padding: 10px;
  }
  .header_btn_mobile a.btn_mobile span {
    margin-left: 5px;
  }
  .content_nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    max-width: 300px;
    z-index: 50;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
    transition: 0.5s;
  }
  .translate_list {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transition: 0.5s;
  }
  .btn_close {
    text-align: right;
  }
  .btn_close a.close_list_btn {
    color: #ffffff;
    font-size: 2.5em;
    margin-right: 20px;
  }
  .menu_mobile_list ul.list_menu {
    padding: 0 15px;
  }
  .menu_mobile_list ul.list_menu li {
    display: block;
  }
  .menu_mobile_list ul.list_menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 0;
    display: inline-block;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu {
    padding: 0 15px;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu li {
    position: relative;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu li:before {
    content: '\f105';
    font-family: FontAwesome;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 5px;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu li a {
    margin-left: 12px;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 {
    padding: 0 15px;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 li {
    position: relative;
  }
  .menu_mobile_list ul.list_menu li ul.sub_list_menu li ul.sub_list_menu2 li:before {
    content: '\f101';
  }
  .menu_mobile_redes {
    margin-top: 30px;
    text-align: center;
  }
  .menu_mobile_redes ul {
    margin: 0;
    padding: 0;
  }
  .menu_mobile_redes ul li {
    display: inline-block;
    margin: 5px;
    text-align: center;
  }
  .menu_mobile_redes ul li a {
    width: 40px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
  }
}

@media screen and (min-width: 701px) {
  .content_nav_mobile,
  .header_btn_mobile {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .header_logo .logo-left,
  .header_logo .logo-right {
    float: none;
    max-width: inherit;
    text-align: center;
  }
  .header_logo .logo-left img,
  .header_logo .logo-right img {
    margin: 0 auto;
  }
}

.content_busqueda {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .content_busqueda {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.content_enlaces_home ul {
  margin: 0;
  padding: 0;
}

.content_enlaces_home ul li {
  display: inline-block;
  width: 267px;
  margin: 4px;
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
  .content_enlaces_home ul li {
    width: 218px;
  }
}

@media screen and (max-width: 991px) {
  .content_enlaces_home {
    text-align: center;
  }
}

.content_carousel_home .carousel_home .item {
  position: relative;
}

.content_carousel_home .carousel_home .item .item_noticias {
  background-color: #92c7cf;
  position: absolute;
  left: 0;
  padding: 0 50px;
  bottom: 0;
  color: #ffffff;
  right: 0;
}

.content_carousel_home .carousel_home .item .item_noticias h3 {
  text-transform: uppercase;
  font-family: latob;
  margin: 5px 0;
}

.content_carousel_home .carousel_home .item .item_noticias p {
  margin: 0 0 10px 0;
}

.content_carousel_home .carousel_home .owl-nav .owl-prev,
.content_carousel_home .carousel_home .owl-nav .owl-next {
  position: absolute;
  bottom: 20px;
}

.content_carousel_home .carousel_home .owl-nav .owl-prev i,
.content_carousel_home .carousel_home .owl-nav .owl-next i {
  color: #ffffff;
  font-size: 1.4em;
}

.content_carousel_home .carousel_home .owl-nav .owl-prev {
  left: 10px;
}

.content_carousel_home .carousel_home .owl-nav .owl-next {
  right: 10px;
}

.slider_home .owl-dots {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider_home .owl-dots .owl-dot {
  display: inline-block;
}

.slider_home .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  transition: opacity .2s ease;
  /* border-radius: 30px; */
}

.slider_home .owl-dots .owl-dot.active span {
  background-color: #ffffff;
}

.video_home .leyenda_video {
  position: absolute;
  background-color: #92c7cf;
  bottom: 0;
  left: 0;
  right: 0;
}

.video_home .leyenda_video p {
  color: #ffffff;
  font-size: 1.1em;
  margin: 10px;
}

.kilometros_recorridos {
  text-align: right;
  margin: 10px 40px;
}

@media screen and (max-width: 991px) {
  .kilometros_recorridos {
    text-align: center;
  }
}

.kilometros_recorridos p {
  font-family: latob;
}

.kilometros_recorridos p span {
  margin: 0 10px;
  border: 1px solid #92c7cf;
  padding: 0 10px;
  font-family: lato;
}

footer {
  background-color: #5c5b5f;
  padding: 30px 0;
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  footer .footer_datos {
    text-align: center;
    margin-bottom: 20px;
  }
}

footer .footer_datos p {
  margin: 0;
  color: #ffffff;
}

footer .footer_reclamaciones {
  text-align: center;
}

footer .footer_reclamaciones a {
  color: #ffffff;
  font-size: 1.2em;
  display: inline-block;
}

footer .footer_reclamaciones a span {
  width: 40px;
  height: 40px;
  background-image: url("../images/header/libro.png");
  display: inline-block;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
}

footer .footer_reclamaciones a p {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
}

footer .footer_derechos {
  text-align: right;
  color: #ffffff;
  font-size: 1.1em;
}

@media screen and (max-width: 991px) {
  footer .footer_derechos {
    text-align: center;
  }
}

/* parte 1 */
.content_organigrama_mapa img {
  margin: 0 auto;
}

.content_organigrama_tabla table td {
  text-align: center;
  vertical-align: middle !important;
  border: 1px solid #C05E5F !important;
}

.content_organigrama_tabla table th {
  text-align: center;
  font-weight: inherit;
  font-family: latob;
  text-transform: uppercase;
  background-color: #C05E5F;
  color: #ffffff;
  border: 1px solid #C05E5F !important;
}

.desc_quienes_somos {
  border-left: 4px solid #6ed200;
  padding: 10px 20px;
  text-align: justify;
  font-size: 1.1em;
}

.mision_quienes_somos {
  border-left: 4px solid #ff8100;
}

.vision_quienes_somos {
  border-left: 4px solid #ffeb00;
  margin-top: 20px;
}

.vision_quienes_somos,
.mision_quienes_somos {
  padding: 20px;
  text-align: justify;
  font-size: 1.1em;
}

.vision_quienes_somos h2,
.mision_quienes_somos h2 {
  margin: 0;
}

.content_cat_joven {
  font-size: 1.1em;
  text-align: justify;
  padding: 0 20px;
}

.content_buenas_prac {
  padding: 0 20px;
  font-size: 1.1em;
  text-align: justify;
}

.content_buenas_prac ul li {
  display: block;
  position: relative;
}

.content_buenas_prac ul li:before {
  content: '';
  background-image: url("../images/buenas_practicas/list.png");
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: -20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.content_resultados_busq {
  padding: 40px;
}

.content_resultados_busq .item_resultados {
  border-bottom: 1px solid #b9b9b9;
  margin: 30px 0;
  padding-bottom: 20px;
}

.content_resultados_busq .item_resultados h3 {
  color: #da0000;
  font-size: 1.6em;
  margin: 0;
  font-weight: inherit;
}

.content_resultados_busq .item_resultados p {
  font-size: 1.1em;
  text-align: justify;
}

.content_resultados_busq .item_resultados p a {
  margin-left: 10px;
}

.content_resultados_busq .item_resultados span {
  font-size: 0.9em;
}

.conten_input_busqueda {
  margin-left: 40px;
  width: 80%;
}

.content_pagination_busqueda {
  text-align: right;
  margin-right: 40px;
}

@media screen and (max-width: 991px) {
  .content_pagination_busqueda {
    text-align: center;
    margin-top: 30px;
    margin-right: 0;
  }
}

.content_pagination_busqueda ul.pagination {
  margin: 0;
}

.content_pagination_busqueda ul.pagination li a {
  color: #5c5b5f;
}

.content_pagination_busqueda ul.pagination li.active a {
  background-color: #5c5b5f;
  border-color: #5c5b5f;
  color: #ffffff;
}

.content_cara_busqueda2 i {
  font-size: 10em;
}

.content_message_busqueda2 {
  font-size: 1.1em;
  max-width: 500px;
}

.content_input_busqueda2 {
  max-width: 400px;
}

.content_menu_dir ul {
  margin: 0;
  padding: 0;
}

.content_menu_dir ul li {
  display: block;
  border-bottom: 1px dashed #92c7cf;
}

.content_menu_dir ul li a {
  padding: 20px 10px;
  display: block;
  color: #4c4c4c;
  text-transform: uppercase;
  font-family: latob;
}

.content_menu_dir ul li a:hover, .content_menu_dir ul li a.active {
  color: #92c7cf;
}

.content_desc_dir {
  border-left: 3px solid #92c7cf;
  padding: 5px 40px;
  text-align: justify;
  font-size: 1.1em;
}

.content_desc_dir .item_desc_dir {
  display: none;
}

.content_desc_dir .item_desc_dir.active {
  display: block;
}

.content_desc_dir .item_desc_dir h3 {
  color: #f10000;
  font-weight: inherit;
  font-family: latob;
  margin: 0;
}

.content_desc_dir .item_desc_dir ul li {
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.content_desc_dir .item_desc_dir ul li:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../images/direcciones/list.png");
  top: 5px;
  left: -30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content_maps_contacto iframe {
  max-width: 100% !important;
}

.content_form_contacto {
  padding: 0 30px;
}

.input_block {
  margin-bottom: 15px;
}

.input_block label {
  display: block;
  font-size: 1.1em;
}

.input_block input,
.input_block select,
.input_block textarea {
  width: 100%;
  outline: none;
  background-color: #f7f7f7;
  border: 1px solid #000000;
  font-size: 1.1em;
  padding: 5px 15px;
}

.fecha_int_banner {
  padding: 12px;
  font-size: 1.1em;
}

.content_int_banner {
  padding-top: 15px;
  padding-bottom: 30px;
}

.content_int_banner h1 {
  text-align: center;
  margin: 0;
  font-weight: inherit;
  font-family: latob;
}

.content_int_banner .img_cont_int_banner {
  margin: 30px 0;
}

.content_int_banner p {
  font-size: 1.1em;
  text-align: justify;
  padding: 0 20px;
}

.relacionados_int_banner {
  padding: 0 20px;
}

@media screen and (max-width: 991px) {
  .relacionados_int_banner {
    margin-top: 30px;
  }
}

.relacionados_int_banner h3 {
  margin: 0 15px;
  font-size: 1.4em;
  font-weight: inherit;
  font-family: latob;
  border-bottom: 1px solid #d4d4d4;
  color: #03A9F4;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.relacionados_int_banner ul {
  margin: 0;
}

.relacionados_int_banner ul li {
  list-style-type: decimal;
  padding-left: 5px;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.compartir_int_banner {
  margin: 0 60px;
}

.compartir_int_banner p {
  color: #d40000;
  font-size: 1.4em;
  font-family: latob;
  margin: 15px 0;
}

.compartir_int_banner ul {
  margin: 0;
  padding: 0;
}

.compartir_int_banner ul li {
  display: inline-block;
  margin: 0 10px;
}

.compartir_int_banner ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #9c9c9c;
  color: grey;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
}

.compartir_int_banner ul li:first-child {
  margin-left: 0;
}

.compartir_int_banner ul li:last-child {
  margin-right: 0;
}

.etiquetas_int_banner {
  margin: 0 60px;
}

.etiquetas_int_banner .etiqueta {
  background-color: #a5a5a5;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  color: #ffffff;
  padding: 6px 15px;
  font-size: 1.1em;
  border-radius: 5px;
}

.etiquetas_int_banner .etiqueta span {
  margin-left: 6px;
}

.etiquetas_int_banner .list_etiquetas {
  display: inline-block;
  margin-left: 10px;
}

.etiquetas_int_banner .list_etiquetas ul {
  margin: 0;
  padding: 0;
}

.etiquetas_int_banner .list_etiquetas ul li {
  display: inline-block;
  position: relative;
  margin: 0 5px;
}

.etiquetas_int_banner .list_etiquetas ul li:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000000;
  -webkit-transform: skewX(-14deg);
          transform: skewX(-14deg);
  left: -5px;
}

.etiquetas_int_banner .list_etiquetas ul li a {
  color: #000000;
  font-size: 1.1em;
  padding: 5px 10px;
}

.etiquetas_int_banner .list_etiquetas ul li:first-child:before {
  content: none;
}

.content_int_single h1 {
  margin: 20px 0;
  line-height: 1em;
  font-size: 2em;
  font-weight: inherit;
  font-family: latob;
  word-spacing: 8px;
}

@media screen and (max-width: 800px) {
  .content_int_single h1 {
    font-size: 1.5em;
  }
}

.content_int_single .leyenda_img_single {
  margin: 10px;
}

.content_int_single .leyenda_img_single span {
  display: block;
  font-style: italic;
  font-size: 0.9em;
}

.content_int_single p {
  text-align: justify;
  font-size: 1.1em;
}

.relacionados_int_single {
  margin-top: 100px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .relacionados_int_single {
    margin: 0;
    padding: 0;
  }
}

.relacionados_int_single h3 {
  font-weight: inherit;
  font-family: latob;
  font-size: 1.3em;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
}

.relacionados_int_single ul li {
  list-style-type: decimal;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 1.1em;
}

.main_noticias .item_list_noticias {
  margin: 10px;
  margin-top: 30px;
  position: relative;
  box-shadow: 2px 2px 8px #e4e4e4;
}

.main_noticias .item_list_noticias .image_list_noticias {
  background-color: #9074AD;
  padding-left: 15px;
}

.main_noticias .item_list_noticias .desc_list_noticias {
  padding: 20px;
  padding-bottom: 50px;
}

.main_noticias .item_list_noticias .desc_list_noticias h2 {
  font-size: 1.8em;
  font-weight: inherit;
  margin: 0;
}

.main_noticias .item_list_noticias .desc_list_noticias p {
  text-align: justify;
  font-size: 1.1em;
}

.main_noticias .item_list_noticias .btn_mas_noticias {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@media screen and (max-width: 991px) {
  .main_noticias .item_list_noticias .btn_mas_noticias {
    right: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.content_programas {
  font-size: 1.1em;
  padding: 0 30px;
  text-align: justify;
}

.content_menu_dir.it_prog ul {
  margin: 0;
  padding: 0;
}

.content_menu_dir.it_prog ul li {
  display: block;
  border-bottom: 1px dashed #ff4e53;
}

.content_menu_dir.it_prog ul li a:hover, .content_menu_dir.it_prog ul li a.active {
  color: #ff4e53;
}

.content_desc_dir.it_prog {
  border-left: 3px solid #ff4e53;
  padding-bottom: 30px;
}

.content_desc_dir.it_prog .item_desc_dir {
  display: none;
}

.content_desc_dir.it_prog .item_desc_dir h5 {
  margin: 0;
  margin-top: 15px;
  margin-left: 40px;
  font-family: latob;
  color: #ff474d;
  font-size: 1.1em;
}

.content_desc_dir.it_prog .item_desc_dir.active {
  display: block;
}

.content_desc_dir.it_prog .item_desc_dir ul {
  margin: 0;
}

.content_desc_dir.it_prog .item_desc_dir ul li {
  margin-bottom: 0;
}

.content_desc_dir.it_prog .item_desc_dir ul li p {
  margin: 0;
  overflow: hidden;
}

.content_desc_dir.it_prog .item_desc_dir ul li:before {
  width: 10px;
  height: 10px;
  background-image: url("../images/programas/list.png");
  left: -18px;
}

.org_enlaces_content {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .org_enlaces_content {
    margin: 15px 0;
  }
}

.org_enlaces_content .img_org_enl {
  max-width: 100px;
  margin: 0 auto;
}

.org_enlaces_content p {
  margin: 10px 0;
  font-family: latob;
  font-size: 1.4em;
}

.org_enlaces_content .btn_org_enl .btn {
  min-width: 150px;
  background-color: #8c8c8c;
}

.org_enlaces_content .btn_org_enl .btn:hover {
  color: #ffffff;
}

.content_desc_dir.org .item_desc_dir h5 {
  color: #92cadc;
  font-size: 1.1em;
  font-weight: inherit;
  font-family: latob;
}

.content_desc_dir.org .item_desc_dir span.cita {
  font-size: 0.8em;
  display: block;
  font-style: italic;
}

/* parte 2 */
@media screen and (max-width: 768px) and (min-width: 500px) {
  .itMobEve {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: inherit !important;
  }
}

.item_eventos {
  position: relative;
}

.item_eventos:after {
  content: '';
  border-bottom: 2px solid #FBC65A;
  bottom: -12px;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .item_eventos:after {
    bottom: 0;
  }
}

.item_eventos figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.item_eventos figure img {
  margin-bottom: 60px;
}

.item_eventos figure:hover figcaption {
  /* bottom: 0; */
  top: 100%;
  transition: .5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
  .item_eventos figure img {
    margin-bottom: 0;
  }
  .item_eventos figure:hover figcaption {
    -webkit-transform: none;
            transform: none;
  }
}

.item_eventos figcaption {
  position: absolute;
  top: 88%;
  background-color: #ffffff;
  width: 100%;
  transition: .5s;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item_eventos figcaption span {
  color: #FBC65A;
}

.item_eventos figcaption h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 15px;
  color: #000000;
}

.item_eventos figcaption p {
  color: #000000;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .item_eventos figcaption {
    top: 86%;
  }
}

@media screen and (max-width: 768px) {
  .item_eventos figcaption {
    position: inherit;
  }
}

@media screen and (max-width: 991px) {
  .item_eventos {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .item_eventos {
    margin-bottom: 80px;
  }
}

.content_event_single h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: inherit;
  font-family: latob;
  border-bottom: 1px solid #FBC65A;
  margin: 0;
  padding-bottom: 10px;
}

.content_event_single p {
  font-size: 1.1em;
  margin: 0;
}

.content_event_single p.descripcion {
  margin: 20px 0;
  margin-top: 30px;
}

.content_event_single p.fecha {
  color: #FBC65A;
}

.content_event_single p.hora {
  margin-bottom: 30px;
}

.share_event_single {
  border-top: 1px solid #FBC65A;
}

.share_event_single p {
  color: #FBC65A;
  font-size: 1.3em;
}

.share_event_single ul {
  margin: 0;
  padding: 0;
}

.share_event_single ul li {
  display: inline-block;
  margin: 0 10px;
}

.share_event_single ul li a {
  color: #000000;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
}

.share_event_single ul li a i {
  font-size: 1.2em;
  line-height: 35px;
}

.share_event_single ul li:first-child {
  margin: 0;
}

.share_event_single.pacto {
  border-top: 1px solid #7495C9;
}

.share_event_single.pacto p {
  color: #7495C9 !important;
  margin: 20px 0 !important;
}

.share_event_single.pacto ul li {
  display: inline-block !important;
  margin: 0 10px !important;
}

.share_event_single.pacto ul li:before {
  content: none;
}

.share_event_single.pacto.premio {
  border-top: 1px solid #C05E5F;
}

.share_event_single.pacto.premio p {
  color: #C05E5F !important;
}

.map_event_single {
  padding: 30px 0px;
}

.map_event_single .cont_map_evs iframe {
  max-width: 100% !important;
}

.content_menu_dir.mapa ul li {
  border-bottom: 1px dashed #99B778;
}

.content_menu_dir.mapa ul li a:hover, .content_menu_dir.mapa ul li a.active {
  color: #99B778;
}

.content_menu_dir.mapa .btn_mapa {
  text-align: center;
  margin-top: 20px;
}

.content_menu_dir.mapa .btn_mapa a {
  text-transform: uppercase;
  color: #99b778;
  font-size: 1.2em;
  border: 1px solid #99b778;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 8px 0;
}

.content_desc_dir.mapa {
  border-left: 3px solid #99B778;
  height: 400px;
}

.content_menu_dir.pacto ul li {
  border-bottom: 1px dashed #7495C9;
}

.content_menu_dir.pacto ul li a:hover, .content_menu_dir.pacto ul li a.active {
  color: #7495C9;
}

.content_menu_dir.pacto .btn_pacto {
  text-align: center;
  margin-top: 20px;
}

.content_menu_dir.pacto .btn_pacto a {
  text-transform: uppercase;
  color: #7495C9;
  font-size: 1.1em;
  border: 1px solid #7495C9;
  display: inline-block;
  width: 60%;
  text-align: center;
  padding: 8px 0;
  line-height: 15px;
}

.content_desc_dir.pacto {
  border-left: 3px solid #7495C9;
  padding-bottom: 40px;
}

.content_desc_dir.pacto .item_desc_dir.pacto h4 {
  margin: 0;
  color: #7495C9;
}

.content_desc_dir.pacto .item_desc_dir.pacto p {
  margin: 0;
  margin-bottom: 20px;
  color: #5f5f5f;
}

.content_desc_dir.pacto .item_desc_dir .lista_paises_susc ul li:before {
  background-image: url("../images/pacto/list.png");
}

.content_premio {
  border-left: 2px solid #C05E5F;
  padding-left: 20px;
}

.content_premio .cont_logo .logo {
  display: inline-block;
}

@media screen and (max-width: 750px) {
  .content_premio .cont_logo .logo {
    display: block;
  }
  .content_premio .cont_logo .logo img {
    margin: 0 auto;
  }
}

.content_premio .cont_logo .btn_descarga {
  float: right;
  margin-top: 20px;
}

.content_premio .cont_logo .btn_descarga a {
  background-color: #92C7CF;
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .content_premio .cont_logo .btn_descarga {
    float: inherit;
    text-align: center;
  }
}

.content_premio h4 {
  color: #C05E5F;
  font-size: 1.1em;
}

.content_premio p {
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .content_premio .cont_categorias {
    text-align: center;
  }
}

.content_premio .cont_categorias a {
  display: inline-block;
  width: 23.33333%;
  border: 1px solid #92C7CF;
  margin: 5px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  color: #92C7CF;
}

@media screen and (max-width: 1000px) {
  .content_premio .cont_categorias a {
    width: 32.3333%;
  }
}

@media screen and (max-width: 700px) {
  .content_premio .cont_categorias a {
    width: 46.3333%;
  }
}

@media screen and (max-width: 500px) {
  .content_premio .cont_categorias a {
    width: 95%;
  }
}

.content_premio .cont_categorias_hidden {
  margin: 20px 0;
}

.content_premio .cont_categorias_hidden .main_hid {
  border: 1px solid #92C7CF;
  padding: 20px 50px;
  width: 90%;
  margin: 0 auto;
}

.content_premio .cont_categorias_hidden .main_hid a {
  float: right;
  color: #888888;
}

.content_premio .cont_categorias_hidden .main_hid h5 {
  font-size: 1.2em;
  color: #92C7CF;
  margin: 0;
  margin-bottom: 15px;
  font-weight: inherit;
}

.content_premio .cont_categorias_hidden .main_hid p {
  margin: 0;
}

.content_premio ul.lista li {
  position: relative;
  display: block;
  margin: 5px 0;
}

.content_premio ul.lista li:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../images/direcciones/list.png");
  left: -18px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .content_menu_dir {
    margin-bottom: 40px;
  }
}
